@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lexend', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #151B28;

  color-scheme: light dark;
  background-color:#FEF8EB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}


.cs-message__content {
  font-family: 'Lexend', sans-serif;
  background-color: #CCD4FF;
}

.cs-message--outgoing .cs-message__content {
  font-family: 'Lexend', sans-serif;
  background-color: white;
  border:0.5px solid black;
}

.cs-message__html-content {
  font-family: 'Lexend', sans-serif;
  padding: 4px;
  color:#151B28;
}

.cs-message-list--loading{
  background-color: white;
}


.cs-message__content-wrapper{
 padding-top: 4px;
 padding-bottom: 4px;
 
}

.cs-message-list__typing-indicator{
  color:#151B28;
  padding:1px;
  font-family: 'Lexend', sans-serif;
  margin-top: 12px;

}

.cs-message-input{
  border:1px solid black;
  
}

.cs-message-input__content-editor-wrapper {
  background-color: white;
}
.cs-message-input__content-editor{
  background-color: white;
  font-family: 'Lexend', sans-serif;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 2px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFBB33;
  color: #151B28;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.new-story-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert-dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.alert-dialog h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.alert-dialog p {
  margin-bottom: 20px;
  color: #333;
}

.alert-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.alert-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.alert-button.cancel {
  background-color: #ccc;
  color: #000;
}

.alert-button.start-new {
  background-color: #f8b400;
  color: #fff;
}

.alert-button.save-signup {
  background-color: #4caf50;
  color: #fff;
}

.alert-button:hover {
  opacity: 0.9;
}


button[aria-label="Close"] {
  background-color: white !important; 
  color: black !important;
  border: none !important;
}